<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">New Issue</h1>
            <form action="/issues" method="POST" novalidate class="validated-issue" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="issue[title]" required>
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="issue[description]"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid description.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="priority">Priority</label>
                    <select class="form-control" id="priority" name="issue[priority]" required>
                        <option value="High" selected>High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="proj">Project Title</label>
                    <input class="form-control" type="text" id="proj" name="relatedProj" required>
                    <div class="invalid-feedback">
                        Please provide a valid project title.
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file mt-3">
                        <input type="file" class="form-file-input" id="image" name="imgs" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Upload image(s)</span>
                            <!-- <span class="form-file-button">Browse</span> -->
                        </label>
                    </div>
                </div>
                <button class="btn btn-blue mt-3">Add Issue</button>
            </form>
        </div>
    </div>